# Pytorch
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.11.0+cu113

# Pytorch-Geometric
-f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

# Huggingface
transformers==4.17.0
datasets==2.0.0

# Other
pytorch-lightning==1.5.10
wandb
autopep8